a {
	color:#FFFFFF;
}
body {
	background-color: #777777;
}

#content {
	margin-left: 5%;
	margin-top: 0px;
	margin-right: 5%;
	margin-bottom: -20px;
	width:90%;
	height:865px;
	background-color: #FFFFFF;
}
#topbar {
	width: 100%;
	height: 150px;
	background-color: #000000;
}
#login {
	float:left;
	width: 60%;
	height: 75px;
	background-color: #119944;
}
#sokbox {
	float:left;
	width: 40%;
	height:75px;
	background-color: #994411
}
#herredame {
	float:left;
	width:20%;
	height:75px;
}
#herre {
	float:left;
	width:50%;
	height:75px;
	background-color: #FF0000;
	color:#FFFFFF;
}

#Jakke1div{
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

#Jakke2div{
    float: left;
    margin-left: 260px;
    margin-top: -300px;
    width: 200px;
    height: 300px;
    
}

#dame {
	float:left;
	width:50%;
	height:75px;
	background-color: #0000FF;
	color:#FFFFFF;
}
#logo {
	width: 40%;
	height: 150px;
	background-color: #00FF88;
	float:left;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
} 
#navbar {
	float:left;
	width: 20%;
	height: 515px;
	background-color: #FF0088;
}
#salgscontent {
	float: left;
	width: 60%;
	height: 515px;
	background-color: white;
}
#rightbar {
	float: left;
	width:20%;
	height:515px;
	background-color: #3399FF;
}
#kontakt {
	float:left;
	width:100%;
	height: 200px;
	background-color: #444444;
    
}
nav ul li ul {
display:none;
}
nav ul li:hover ul {
display:block;
}

nav ul li{
}